body{
    background-image: url('../images/62690220_xl.jpg');
    background-size: cover;
    font-family: 'EB Garamond'
}
ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 5px;
   }
nav{
    display: flex;
    font-size: 12px;
    text-align: center;
    justify-content: space-between


}
li{
    text-align: center;
    margin: 0;
}
#main{
    background-image: url('../images/white_wall_hash.png');
    background-size: cover;
    width: 65vw;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    padding: 5vw;
}
#voice{
    color: #668877;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px #FFD0C3
}
#first{
    font-family: 'Dancing Script', cursive;
    color: #1F1159;
    margin: 0;
    text-shadow: 2px 2px #FFD0C3


}
#c{
    float: left;
    width: 30vw;
}
hr{
    background-color: #93BCAF;
    margin:0;
}
#call{
  color:  #1F1159
}
#firstp{
    font-size: 20px;
    color: #668877;;
    text-shadow: 2px 2px #FFD0C3;
}
#sing{
    width: 200px;
    margin-top: 1vh;

    margin-right: 7vw;

} p{
    margin-bottom: 10px;
}
#flexcontain{
    display: flex;
    flex-direction: row;

}
#one, #two, #three{
    text-align: left;
    color: #1F1159;
    margin-left: 30px;
}
span{
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px #FFD0C3;
    font-size: 1.5rem;
}
@media only screen and (max-width: 1420px) {
    #main{
        height: inherit;
    }
  }
  @media only screen and (max-width: 700px) {
    #main{
        width: 100vw;
        position: fixed;
        left: 0;
    }
  }